<div class="page">
  <!-- <header>
    <div class="logo">
      Volunteer Tracking
    </div>
  </header> -->
  <div class="page-bg">
    <h1>Volunteer Tracking</h1>
  </div>
  <div class="page-form">
    <div class="login-container">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form [formGroup]="loginForm" (ngSubmit)="!disableSubmit && login()">
          <div class="form-group">
            <label for="userName"><i class="fa fa-user"></i> Phone/Aadhar</label>
            <input type="text" id="userName" class="form-control" formControlName="phone">
          </div>
          <div class="form-group">
            <label for="password"><i class="fa fa-unlock-alt"></i> Password</label>
            <input type="password" id="password" class="form-control" formControlName="password">
          </div>
          <div class="d-flex space-between">
            <button type="submit" [disabled]="disableSubmit" class="btn btn-block btn-primary">
              <i class="fa fa-sign-in"></i> Login
            </button>
          </div>
        </form>
        <div style="margin-top: 15px;" *ngIf="showError">
          <div class="form-error text-danger">
            <span [class.active]="showError">{{error}}</span>
          </div>
        </div>
      </div>
      <div style="padding: 0 20px 20px" class="text-center">
        <a routerLink="/register" class="btn btn-link">Register</a>
      </div>
    </div>
  </div>
</div>
